:root, ::backdrop {
  --textColor: #080808;
  --backgroundColor: #EEEEEE;
  --lightenColor: #FFFFFF99;
  --darkenColor: #00000033;
  --darkOverlayColor: #00000099;
  --borderColor: #AAAAAA;
  --borderHighlightColor: #FFFFFF;
  --borderShadowColor: #DDDDDD;
  --iconSize: 32px;
}

/* Global */

* {
  box-sizing: border-box;
  color: var(--textColor);
}

html, body, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: var(--textColor);
}

.button {
  cursor: pointer;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  position: relative;
  background: transparent;
}

.button::before, .button::after {
  z-index: -1;
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button::before {
  background-color: var(--backgroundColor);
}

.button:hover::after {
  background-color: var(--lightenColor);
}

.button:active::after {
  background-color: var(--darkenColor);
}

/* Menu */

.menu {
  position: absolute;
  background: var(--backgroundColor);
  border: 1px solid;
  border-top-color: var(--borderHighlightColor);
  border-left-color: var(--borderShadowColor);
  border-right-color: var(--borderHighlightColor);
  border-bottom-color: var(--borderShadowColor);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.menu.left, .menu.right {
  top: 50%;
  transform: translateY(-50%);
}

.menu.left {
  left: 5px;
}

.menu.right {
  right: 5px;
}

.menu.top {
  left: 0;
  top: 0;
}

.menu.bottom {
  left: 0;
  bottom: 0;
}

.menuItem {
  width: var(--iconSize);
  height: var(--iconSize);
  cursor: pointer;
  line-height: var(--iconSize);
  text-align: center;
}

.menuItem.selected {
  background: var(--lightenColor);
  border: 1px solid;
  border-top-color: var(--borderShadowColor);
  border-left-color: var(--borderHighlightColor);
  border-right-color: var(--borderShadowColor);
  border-bottom-color: var(--borderHighlightColor);
}

.top .menuItem, .bottom .menuItem {
  display: inline-block;
}

/* Dialogs */

dialog {
  position: relative;
  background: var(--backgroundColor);
  border: none;
}

dialog::backdrop {
  background: var(--darkOverlayColor);
}

.dialogClose {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.dialogButtonWrapper {
  text-align: right;
}

.error .dialogCancel {
  display: none;
}

/* Debug */

.debug {
  background-color: var(--backgroundColor);
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.debug, .debug td, .debug th {
  border: 1px solid var(--borderColor);
}

.debug thead, .debug td:first-child {
  font-weight: bold;
  background: var(--darkOverlayColor);
}

.debug td, .debug th {
  padding: 0.25rem;
}
